
@{
    ViewData["Title"] = "TempDataFirst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TempDataFirst</h1>


CoronaID : @ViewBag.CoronaID
CoronaID : @ViewBag.CoronaID
CoronaID : @ViewBag.CoronaID

@TempData["UserId"]
@TempData["UserId"]
